@import "tailwindcss";
/** Outfit */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

:root {
  --color-pallet-50: #fff6ec;
  --color-pallet-100: #ffecd3;
  --color-pallet-200: #ffdab0;
  --color-pallet-300: #ffb16a;
  --color-pallet-400: #ff8f33;
  --color-pallet-500: #ff4f00;
  --color-pallet-600: #e64800;
  --color-pallet-700: #b33a00;
  --color-pallet-800: #802b00;
  --color-pallet-900: #4d1a00;
  --color-pallet-950: #4d1a00;

  --btn-bg: ff4f00;
}

@theme {
  --color-c-seance-50: #faf5fe;
  --color-c-seance-100: #f6eafd;
  --color-c-seance-200: #ecd3fb;
  --color-c-seance-300: #e0b1f6;
  --color-c-seance-400: #ce82f0;
  --color-c-seance-500: #b752e3;
  --color-c-seance-600: #9d33c6;
  --color-c-seance-700: #8427a5;
  --color-c-seance-800: #6e2286;
  --color-c-seance-900: #5d216e;
  --color-c-seance-950: #3a0949;

  /* Fondo */
  --color-c-dark-900: #1e1e1e;
  --color-c-dark-800: #2a2a2a;
  --color-c-dark-950: #151515;

  /* Texto */
  --color-c-light-100: #ededed;
  --color-c-light-50: #ffffff;
  --color-c-light-200: #cfcfcf;

  /* Texto secundario */
  --color-c-gray-400: #a1a1a1;
  --color-c-gray-300: #b8b8b8;
  --color-c-gray-500: #8a8a8a;

  /* Rojo Pinterest adaptado */
  --color-c-red-pinterest-500: #e63946;
  --color-c-red-pinterest-400: #ff4b5c;
  --color-c-red-pinterest-600: #c92a38;

  /* Botón/acento secundario */
  --color-c-red-soft-400: #ff6b6b;
  --color-c-red-soft-300: #ff8585;
  --color-c-red-soft-500: #e05656;

  /* Detalles / links activos */
  --color-c-salmon-400: #f07167;
  --color-c-salmon-300: #ff8a7a;
  --color-c-salmon-500: #d65a5a;

  /* Font */
  --font-outfit: "Outfit", sans-serif;
}

@layer components {
  .btn-pallet {
    @apply py-2 w-full transition-colors duration-300 cursor-pointer rounded font-semibold;
    background-color: var(--btn-bg);
  }
  .btn-pallet:hover {
    background-color: var(--btn-hover);
  }
}
